body { font-size: 12px !important; }
table { width: 100% !important; table-layout: fixed !important; }
table * { font-size: 12px !important; }
table li { margin: 0 !important; padding: 0 !important; }
table li p { margin: 0 !important; padding: 0 !important; }
